h1 {
  position: fixed;
  top: 25px;
  left: 5px;
  float: left;
  color: #FFF;
  background-color: #393939;
  font-size: 28px;
  width: 21em;
  height: 40px;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  text-align: center;
  vertical-align: middle;
}

body {
  background: #2c2c2c;
  color: #323232;

  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: Tahoma, sans-serif;
}

.box {
  display: inline-block;
  *display: inline;
  padding: 5px;
}

form div {
  float: left;
}

form div.full {
  clear: both;
}

form div label {
  display: block;
  color: #fff;
  padding: 3px;
  font-size: 14px;
  opacity: 0.5;
}

.box select {
  vertical-align: middle;
  background: #393939;
  color: #fff;
  padding: 10px;
  width: 130px;
  height: 40px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.box select:disabled {
  color: #525252;
}

.box button {
  vertical-align: middle;
  background: #393939;
  color: #fff;
  padding: 10px;
  width: 110px;
  height: 40px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
}

.box button:active {
  background: #474747;
}

#modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
.modalcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2c2c2c;
  color: #ffffff;
  width: 80%;
  padding: 20px;
}

.popupButton {
  background: #393939;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
}

.popupHead {
  color: #FFF;
  background-color: #393939;
  font-size: 28px;
  padding: 10px;
  width: 75px;
  height: 30px;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  text-align: left;
}

a:link {
  color: #c6c6c6;
  text-decoration: none;
}

a:visited {
  color: #c6c6c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.winmessage {
  vertical-align: middle;
  background: #393939;
  color: #fff;
  padding: 10px;
  width: 155px;
  height: 20px;
  border: none;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  display: none;
  position: absolute;
  margin-left: 19%;
}